{{!--<p>I am now connected to the server and the route works</p> --}} {{!-- Create Container --}}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id = "header">
            <h1>Eat Da Burger!</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                {{!-- Loop through all of the burger data --}} 
                {{#each burger_data}} 
                {{!-- Unless the burger has been eaten --}} 
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    {{!-- post the data--}}
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-xs-3 text-center">
                    <form action="/burgers/update?_method=PUT" method="POST" class="button-size">
                        {{!-- Send the data into the server --}}
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">DEVOUR YOUR BURGER!</button>
                    </form>
                </div>
                {{/unless}} {{/each}}
            </div>
        </div>
    </div>
</div>